{% extends "_base.html" %}

{% block content %}
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-lg-1 my-auto">

                </div>
              <div class="col-lg-3 my-auto">
                  <h1 class="mb-5">
                      Ivan Galakhov
                      <br>
                      <i><small><small><small>Student && Developer</small></small></small></i>
                  </h1>
                  <ul class="list-group">
                      <a class="list-group-item list-group-item-action" href="/about">About Me</a>
                      <a class="list-group-item list-group-item-action" href="/projects">My Projects</a>
                      <a class="list-group-item list-group-item-action disabled">My Resume</a>
                      <a class="list-group-item list-group-item-action" href="/contact">Contact</a>
                  </ul>
              </div>
                <div class="col-lg-2 my-auto">
                    <br>
                </div>
              <div class="col-lg-5 my-auto">
                  <img src="https://via.placeholder.com/2000" class="img-fluid w-100 rounded-circle" alt="">
              </div>
                <div class="col-lg-1 my-auto">

                </div>
            </div>
          </div>
{% endblock content %}