{% extends "_base.html" %}

{% block content %}
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-lg-1 my-auto">

                </div>
              <div class="col-lg-3 my-auto">
                  <h1 class="mb-5">Ivan Galakhov</h1>
                  <p>Student and Developer</p>
              </div>
                <div class="col-lg-2 my-auto">
                    <br>
                </div>
              <div class="col-lg-5 my-auto">
                  <img src="https://via.placeholder.com/2000" class="img-fluid w-100" alt="">
              </div>
                <div class="col-lg-1 my-auto">

                </div>
            </div>
          </div>
{% endblock content %}