{% extends "_base.html" %}

{% block content %}
    <div class="container">
        <h1>Links</h1>
        <a href="/">Back to main</a>
        <hr>
        <h4>Demos</h4>


        <h4>Utility</h4>
        <ul>
            <li><a href="https://ivan.galakhov.me:10456">Adminer</a></li>
            <li><a href="https://abir.taheer.me/adminer.php">Adminer 2</a></li>
        </ul>
        <h4>Fun</h4>
        <ul>
            <li>
                <p>
                    <a href="https://www.youtube.com/watch?v=96dSeavNQrQ">Probably my favorite video on the internet</a>
                </p>
            </li>
        </ul>
    </div>

{% endblock content %}